/* ### General */

* {
padding: 0;
margin: 0;
font-family: 'Courier New', Courier, monospace;
}


/* color palate template */
:root {
--dkgrn: rgb(57,81,68);
--ltgrn: rgb(78,108,80);
--brown: rgb(92, 64, 51);
--beige: rgb(240,235,206);
--white: rgb(255, 255, 255);
--dkblue: #39395f;
--black: rgb(1,1,1);
}

body {
background-color: var(--brown);
}

main {
    padding-top: 50px;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 48px;
    color: var(--beige);
    margin: 10px 0px 10px 60px;
}

h2 {
    font-size: 32px;
    padding-top: 10px;
    margin-left: 25px;
    color: var(--beige);
}

h3 {
    font-size: 24px;
    padding-top: 15px;
    color: var(--black);
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover, a:active {
    text-decoration: underline;
    color: inherit;
}

/* ### Utilities */

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}



/* ### Header Styles */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--ltgrn);
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-right: 70px;
    color: var(--beige);
}

nav a {
    margin-left: 30px;
    color: var(--beige);
    text-decoration: none;
    font-size: 28px;
}

/* ### Content Styles */


.section {
    height: 800px;
    width: auto;
    margin: 50px;
    background-color: var(--dkgrn);
    flex-flow: column nowrap;
    align-items: flex-start;
}

.section-split {
    height: 300px;
    width: auto;
    margin: 0px 50px 25px 50px;
    background-color: var(--brown);
}

.halfsection {
    height: inherit;
    width: 50%;
    background-color: var(--brown);
    justify-content: fiex-start;
    align-items: center;
    flex-flow: column wrap;
}

.project-section {
    height: inherit;
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: space-between;
    margin-top: -50px;
   
}

.hero {
    height: 800px;
    width: 100%;
    flex-flow: row wrap;
}

.background-img {
    width: 100%;
    background-size: cover;
    background-image: url("../images/background-2132913.jpg");
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.selfie {
    width: 600px;
    height: 600px;
    margin-left: 100px;
    margin-right: 50px;
    border-radius: 3%;

    /* I would like to figure out how to get this image to scale but keep it's aspect ratio at some point. */
}

.about-me {
    width: 500px;
    height: 600px;
    background-color: var(--beige);
    color: var(--black);
    margin-right: 150px;
    flex: 0.5 0.5 auto; 
    border-radius: 15px;
}

.about-me h2 {
    margin-left: 20px;
    color: inherit
}

.about-me p {
    margin: 5px 20px 10px 20px;
    font-size: 18px;
    line-height: 1.25;
}

.about-me em {
    font-weight: bold;
}

.main-card {
    width: 650px;
    background-color: var(--beige);
    margin: 25px 25px 25px 50px;
    padding: 10px;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 3%;
}

.mainprojectimg {
    height: 500px;
    width: 500px;
    margin-top: 40px;
    border-radius: 3%;
}

.secondary-card {
    width: 300px;
    background-color: var(--beige);
    margin: 25px;
    flex-flow: column wrap;
    align-items: center;
    border-radius: 3%;
}

.placeholder {
    height: 200px;
    width: 200px;
    margin: 20px;
}



.center-div {
    height: inherit;
    width: 100%;
    background-color: var(--dkgrn);
    padding-top: 20px;
}


.contact {
    height: inherit;
    width: 50%;
    background-color: var(--beige);
    color: var(--brown);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    padding-top: 20px;
}

ul {
    margin: 20px 0px 0px 50px;
    color: var(--beige);
}

ul li {
    font-size: 28px;
}

.contactitems {
    color: var(--black);
    align-self:flex-start;
    margin-left: 75px;
}

.contactitems a {
    text-decoration: underline;
}

/* Footer Styles */





/* Media Queries */

@media screen and (max-width:1820px) {
    .selfie {
        width: 500px;
        height: 500px;
        margin-left: 150px;
    }

    .about-me p {
        font-size: 16px;
    
}
}

@media screen and (max-width: 1446px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    h1 {
        margin-left: 30px;
    }

    nav {
        margin: 0px 0px 0px 30px;
    }

    nav a {
        margin: 0px 30px 10px 0px;
    }

    main {
        padding-top: 100px;
    }
    .hero {
        height: 1400px;
    }

    .background-img {
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
    }

    .selfie {
        margin: 70px 0px 50px 0px;
    }

    .about-me {
        width: 800px;
        height: auto;
        margin: 0px 50px 50px 50px;
    }

    .section {
        height: 1600px;
        width: auto;
        margin: 50px;
        background-color: var(--dkgrn);
        flex-flow: column wrap; 
        justify-content: flex-start;
        align-items: center;
    }

    .project-section {
        height: 1600px;
        width: auto;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        margin: 20px 0px 0px 50px;
        color: var(--beige);
    }
    
    ul li {
        font-size: 20px;
    }


    .section-split {
        height: 200px;
    }

}

@media screen and (max-width: 768px) {

    nav {
        flex-flow: column wrap;
        margin: 0px 0px 0px 50px;
    }

    main {
        padding-top: 225px;
}

.about-me {
    width: 550px;
}

.main-card {
    width: 450px;
    margin: 60px 10px 10px 10px;
}

.mainprojectimg {
    height: 350px;
    width: 350px;
    margin-top: 10px;
    border-radius: 3%;
}

.secondary-card {
    width: 200px;
}

.placeholder {
    height: 125px;
    width: 125px;
    margin: 20px;
}


.section {
    height: 1000px;

}


.project-section {
    height: 1000px;
   
}

ul li {
    font-size: 16px;
}
}
