* {
padding: 0;
margin: 0;
}


/* color palate template */
:root {
--dkgrn: rgb(57,81,68);
--ltgrn: rgb(78,108,80);
--brown: rgb(170,139,86);
--beige: rgb(240,235,206);
--white: rgb(255, 255, 255);
--black: rgb(1,1,1);

}

body {
background-color: var(--dkgrn);
}



h1 {
    font-size: 48px;
    display: inline-block;
    color: var(--beige)
}



nav {

}


.header {
font-family: 'Courier New', Courier, monospace;
background-color: var(--ltgrn);
}

.flex {
    display: flex;
}

.background-img {
height: 800px;
width: 100%;
background-image: url("../images/background-2132913.jpg");
background-size: cover;
background-position: center;
}

.selfie {
width: 300px;
height: 300px;
display: inline-block;
}





/* media breakpoints at 480px and 768px */

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}







/* Flexbox syntax

display: flex - makes a container a flex container

justify-content - dictates how items will be distributed across the main axis
align-items - dictates how items will be distributed on the cross axis

flex-direction - changes the orientation of the main axis; row, column, row-reverse, column-reverse








*/