* {
padding: 0;
margin: 0;
font-family: 'Courier New', Courier, monospace;
}


/* color palate template */
:root {
--dkgrn: rgb(57,81,68);
--ltgrn: rgb(78,108,80);
--brown: rgb(112, 83, 32);
--beige: rgb(240,235,206);
--white: rgb(255, 255, 255);
--dkblue: #39395f;
--black: rgb(1,1,1);

}

body {
background-color: var(--dkgrn);
}



h1 {
    font-size: 48px;
    font-weight: bolder;
    display: inline-block;
    color: var(--beige);
    margin-left: 60px;
    margin-top: 10px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    margin-left: 25px;
    color: var(--beige);
}

h3 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;


}

nav {
    float: right;
    margin-right: 70px;
}

nav a {
    display: inline-block;
    margin-left: 30px;
    color: var(--beige);
    text-decoration: none;
    font-size: 24px;
    padding-top: 20px;
}

section {
    position: relative;
}


.header {

    background-color: var(--ltgrn);
}

.flex {
    display: flex;
}

.background-img {
    width: 100%;
    background-size: cover;
    background-image: url("../images/background-2132913.jpg");
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.selfie {
    width: 500px;
    height: 500px;
    margin-left: 150px;
    margin-right: 50px;
}

.about-me {
    width: 500px;
    height: 600px;
    background-color: var(--beige);
    color: var(--brown);
    margin-right: 150px;
    flex: 0.5 0.5 auto; 
    

}

.about-me ul {
    margin-left: 50px;
}

.hero {
    height: 800px;
    width: 100%;
}

.heroheader {
    color: var(--brown);
}


.section {
    height: 800px;
    width: auto;
    margin: 50px;
    background-color: var(--ltgrn);
}

.contact {
    height: 600px;
    width: auto;
    margin: 25px 20% 25px 20%;
    background-color: var(--beige);
    color: var(--brown);


}

.row-section {
    display: flex;
    flex-flow: row wrap;
    /* margins? */
}

.project-section {
    height: inherit;
    width: inherit;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: space-between;
   
}

.main-card {
    width: 650px;
    flex: 0 0 650px;
    background-color: var(--beige);
    margin: 25px 25px 25px 50px;
    display: flex;
}

.secondary-card {
    width: 300px;
    flex: 0 0 300px;
    background-color: var(--beige);
    margin: 25px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.placeholder {
    height: 200px;
    width: 200px;
    margin: 20px;
}


/* media breakpoints at 480px and 768px */

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}

